@font-face {
    font-family: 'UTM_HelvetIns';
    src: url('../fonts/UTMHelvetIns.eot');
    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')
    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')
    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM_AvoBold';
    src: url('../fonts/UTMAvoBold.eot');
    src: url('../fonts/UTMAvoBold.eot') format('embedded-opentype'), url('../fonts/UTMAvoBold.woff')
    format('woff2'), url('../fonts/UTMAvoBold.woff') format('woff'), url('../fonts/UTMAvoBold.ttf')
    format('truetype'), url('../fonts/UTMAvoBold.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-Extrabold.ttf')  format('truetype'), url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
.text_h {
    /* font-family: OpenSans-Bold; */
    font-size: 60px;
    margin-top: 5px;
    /* margin: -3px 0; */
    font-weight: bold;
    margin-left: -68px;
    margin-bottom: 0px;
}
.text_t{
    font-family: OpenSans;
  margin: -7px;
padding: 0px;
/* letter-spacing: 4px; */
/* margin-top: 7px; */
font-size: 25px !important;
text-shadow: 0px 0px 0 rgb(170,170,170), 1px 0px 0 rgb(85,85,85), 2px 0px 0 rgb(0,0,0), 3px 0px 0 rgb(0, 0, 0), 4px 0px 3px rgba(0,0,0,0.15), 4px 0px 1px rgba(0,0,0,0.5), 0px 0px 3px rgba(0,0,0,.2);
}
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    color: #0d7cd6;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.clearfix-130{
    clear: both;
    height: 130px;
}
.clearfix-100{
    clear: both;
    height: 100px;
}
.clearfix-80{
    clear: both;
    height: 80px;
}
.clearfix-62{
    clear: both;
    height: 62px;
}
.clearfix-60{
    clear: both;
    height: 60px;
}
.clearfix-55{
    clear: both;
    height: 55px;
}
.clearfix-50{
    clear: both;
    height: 50px;
}
.clearfix-45{
    clear: both;
    height: 45px;
}
.clearfix-40{
    clear: both;
    height: 40px;
}
.clearfix-35{
    clear: both;
    height: 35px;
}
.clearfix-30{
    clear: both;
    height: 30px;
}
.clearfix-32{
    clear: both;
    height: 32px;
}
.clearfix-25{
    clear: both;
    height: 25px;
}
.clearfix-20{
    clear: both;
    height: 20px;
}
.clearfix-15{
    clear: both;
    height: 15px;
}
.clearfix-12{
    clear: both;
    height: 12px;
}
.clearfix-10{
    clear: both;
    height: 10px;
}
.clearfix-5{
    clear: both;
    height: 5px;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #000;
}

del {
    font-size: 12px;
    color: #999;
}

/*===========All=============*/
.w_100 {
    width: 100%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}

/*==========Main============*/
.menu_mb{
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 999;
    padding: 1px 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
#go_top {
    position: fixed;
    width: 24px;
    height: 25px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 100;
    bottom: 25px;
    right: 25px;
}
.img_logo_mb{
    max-height: 60px;
    max-width: 70%
}
.menu_main .nav.is-fixed{
    position: relative;
    z-index: 105;
}

/*======================================================================================================================*/
.qts_header_top{
    background: url(../img/bg_header.png) no-repeat;
    width: 100%;
  background-size: 100% 100%;
}
.menu-main h2 {
    margin: 0px 25px;
}
.menu-main h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 25px 50px;
}
.hotline_hd {
    background-size: cover;
    float: left;
    background: url(../img/logo_ubnd.png) no-repeat top left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 182px;
    padding-bottom: 35px;
    margin-top: 5px;
    /* background-position: left 30%; */
    height: 78px;
}

.hotline_hd span{
    color: #ff0000;
}
.slogan_hd{
    float: right;
    margin-top: 35px;
    font-family: UTM_AvoBold;
    color: #4b7e1f;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
}
.qts_head_mid.sticky-header{
    background: #ffffff;
}
.qts_head_mid.sticky-header.fixed{
    box-shadow: 0px 0px 6px #333;
}
.sb-search{
    float: right;
    position: relative;
    margin: 10px 0px;
}
.sb-search:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background: #333333;
    position: absolute;
    left: 0px;
    top: 14px;
}
.nav-container ul li a:last-child{

}
.menu_top{
      display: flex;
    align-items: center;}
 .menu_main .menu_top .menu-item{
    padding-right: 40px;
 }
.hotline_hd {
    margin-top: 10px;
}

    .menu_main {
    float: right;
    margin-top: 21px;
}
li.menu-item{
    position: relative;

}
img.img_a {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 33px;
    top: -3px;
}
.page-header-fixed .page-container {
    margin-top: 167px !important;
}
.back_link {
    line-height: 20px !important;
}
.back_link li{
 list-style: none;
    float: left;
    padding: 0px 10px;
    margin: 10px 5px;
    position: relative;
}
.back_link li:first-child{
  padding-left: 0px;
}
.back_link li::after{
  font-family:FontAwesome;
  position: absolute;
  content: "\f105";
  font-size: 14px;
  top: 0px;
  right: -2px;
}
.back_link li:last-child::after{
  display: none;
}
.back_link{
  margin-top: 20px;
}
.back_link li a i{
  font-size: 20px;
}
.back_link li a{
  font-size: 19px;
  color: #000;
}
.sidemenu{
    background: #0072bc;
}

@media (min-width: 1200px) {
    .container_fix {
    margin: -7px 0px 0px 0px;
    width: 100%;
    }
}
